name: Hello workflow
on:
  push:
    branches: ["main"]
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - uses: helloquang/learning-ci/.github/workflows/build-workflow.yml@main
         with:
           node-version: '18.x'

    
